.form-login{
  margin-top: 100px;
}

h3{
  font-size: 18px;
  font-weight: normal;
}

body{
box-sizing: border-box;
margin: 0;
padding: 0;
background-image: url(../imagenes/fondo12.jpg);
background-position: center center;
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;
image-resolution: snap;

}
a{
color: black;
}
.formulario .casillero{
width: 300px;
}
.avatar{
  margin-bottom: 20px;
}
