

body{
box-sizing: border-box;
margin: 0;
padding: 0;
background-image: url(../imagenes/fondo12.jpg);
background-position: center center;
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;
image-resolution: snap;

}
header{
  background-color: #adf0f0;
  height: 60px;
  font-weight: bold;
  padding: 5px;

}

header div{
  max-width: 100%;

}

header div a .logo{
  height: 50px;
  justify-content: center;
  align-items: center;

}

.form-login{
  margin-top: 30px;
  font-family: 'Signika', sans-serif;
}

h3{
  font-size: 18px;
  font-weight: normal;
}

.formulario .casillero{
width: 300px;
}
.avatar{
  margin-bottom: 20px;
}

.boton-face .btn-primary:hover .btn-primary:hover {
    color: #007bff;
    background-color: #fff!important;
    border-color: #007bff!important;
}
.linea-texto{
  margin-bottom: 20px;
  margin-top: 20px;
}

footer{
  display: flex;
}
.footer{
  background: #fff;
  justify-content: center;
  font-size: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 35%;
  width: 100%;
  bottom: 0;
  left: 0;
  position: fixed;
}

span.errorEmail{
  color: red;
  font-size: 14px;

}

span.errorContraseña{
  color: red;
  font-size: 14px;
}
@media (max-width:665px) {

  .footer{
    font-size: 10px;
    padding-left: 10%;
      }
}
