body {
  margin: 0;
  padding: 0;
  background-color: lightblue;
  margin-left: 30%;
  background-image: url(../imagenes/fondo12.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  image-resolution: snap;

}

header{
  background-color: #adf0f0;
  height: 60px;
  font-weight: bold;
  padding: 5px;
}

header div{
  max-width: 100%;

}

header div a .logo{
  height: 50px;
  justify-content: center;
  align-items: center;
  padding-left: 20px;

}

form.needs-validation {
  padding: 20px;
  text-align: center;
  margin-top: 40px;
  padding: 10%;
  }

div.form-row label{
  font-weight: bold;
  color:#1e4261;
  font-family: 'Signika', sans-serif;
}


div.form-control{
  font-weight:
}

div.form-row{
  margin: 20px;
}

form div.form-check{
  margin-top: 50px;
}

button.btn.btn-primary{
  margin-top: 15px;
}

button.btn.btn-primary:hover{

  color: #007bff!important;
  background-color: #fff!important;
  border-color: #007bff!important;
}

footer{
  display: flex;
}

.footer{
  background: #fff;
  justify-content: center;
  font-size: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 35%!important;
  width: 100%;
  position: fixed!important;
  bottom: 0;
  left: 0;
}

@media (max-width:545px){
  form.needs-validation{
    max-width: 100%;
    flex: 100%;
  }
  .a{
    max-width: 100%;
    flex: 100%;
  }

  .footer{
      font-size: 10px;
      padding-left: 15%;

  }

}
